/** 
    - Create by Jeison Obando 
    - March 10 20201
**/
@import url("https://fonts.googleapis.com/css?family=Lato:300");
/* ------- vars -------*/
:root {
  --dark-gray: #1b1717;
}

/* ------- estilos generales -------*/
html {
  box-sizing: border-box;
  font-size: 80.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
  font-family: "Shippori Mincho B1", serif !important;
}

.title {
  font-size: 2.7rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.nav {
  position: fixed !important;
  z-index: 1;
  width: 100%;
  top: 0;
}

.navbar {
  color: white !important;
  background-color: var(--dark-gray);
}
.navbar-toggler {
  background-color: #f0e116 !important;
}
.navbar-title {
  margin: 0 0 0 10px;
  font-size: 1.4rem;
  font-weight: bold;
}
.navbar-links {
  justify-content: flex-end;
}
.navbar-links .nav-link {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
}
.navbar-links .nav-link:hover {
  border-radius: 12px !important;
  background-color: rgba(194, 48, 48, 0.664);
}

.container-img-bg {
  margin-top: 64px;
  background-image: url("../img/backgrounds/3.jpg");
  background-size: cover;
  background-position: center;
  height: 570px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container-img-bg .img-avatar {
  border-radius: 50%;
  background-color: rgba(214, 194, 15, 0.733);
  border: #e0b62b 6px solid;
}
.container-img-bg .img-avatar:hover {
  transition: 2s;
  transform: rotate(360deg) !important;
}
.container-img-bg figcaption {
  font-family: "Chango", cursive;
  display: block !important;
  font-size: 3rem;
  color: white;
}
.container-img-bg small {
  color: rgba(223, 33, 33, 0.281);
  font-weight: bold;
  font-size: medium;
}

.flex-content {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}

.about {
  background-color: white;
  border-radius: 12px;
}
.about:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.about-description {
  font-size: 1.5rem;
}
.about-title {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: auto !important;
}
.skills-img {
  width: 400px !important;
}
.skills-list {
  border-radius: 12px !important;
}

#proyectos {
  margin-top: 2em;
  background-color: #1b1717dc;
}
#proyectos .row {
  display: flex;
  justify-content: center;
  width: 100% !important;
  margin: 0;
}
#proyectos iframe {
  width: 100%;
  height: 300px;
}

.proyectos-description {
  letter-spacing: 1px;
  font-size: 1.2rem;
  color: white;
}

.proyecto-card {
  transition: 0.5s ease;
  background-color: #1d1d1da1 !important;
  width: 310px !important;
  margin: 30px;
  padding: 1em;
  border-radius: 15px !important;
}
.proyecto-card:hover {
  transform: scale(1.05);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.proyecto-img {
  width: 100%;
  padding: 0 !important;
  margin: auto !important;
  border-radius: 8px !important;
}

#footer-contact {
  padding: 0.8em;
  margin-top: 2em;
  background-color: #e0e0e0;
  height: 200px;
  text-align: center;
}
#footer-contact .contact h2 {
  font-size: 3rem;
  font-weight: bold;
}
#footer-contact .contact-box {
  display: flex;
  flex-direction: column;
  color: black !important;
  font-size: 1.5rem;
}
#footer-contact .contact-box span {
  font-weight: normal;
}

@media (max-width: 1200px) {
  .skills-img {
    width: 40% !important;
  }
}
@media (max-width: 580px) {
  .about-description {
    font-size: 1.3rem;
  }

  .skills-title {
    font-size: 1.3rem;
  }

  .skills-list {
    font-size: 1.3rem !important;
  }

  .title {
    font-size: 1.5rem !important;
    padding: 0 !important;
  }
}/*# sourceMappingURL=style.css.map */